{
  "all": true,
  "reporter": [
    "lcov",
    "text",
    "text-summary"
  ],
  "check-coverage": true,
  "include": [
    "src"
  ],
  "extension": [
    ".mjs",
    ".cjs",
    ".js"
  ],
  "statements": 82,
  "branches": 80,
  "functions": 86,
  "lines": 82
}