{
  "all": true,
  "reporter": [
    "lcov",
    "text",
    "text-summary"
  ],
  "check-coverage": true,
  "include": [
    "src"
  ],
  "extension": [
    ".mjs",
    ".cjs",
    ".js"
  ],
  "statements": 88,
  "branches": 84,
  "functions": 88,
  "lines": 88
}